@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}
a:link visited h{
	
	}
.top{
	width:auto;
	height:50px;
	background:#333;
	}
.top_center{
	margin:0 auto;
	width:1200px;
	height:auto;
	}
.top_logo{
	lint-height:50px;
	height:37px;
	width:150px;
	padding-top:5px;
	float:left;
	}
.top_logo img{
	height:37px;
	width:auto;
	}
.top_left{
	float:left;
	width:400px;
	height:auto;
	color:#FFF;
	}
.top_left li{
	list-style:none;
	float:left;
	margin:0 10px;
	line-height:50px;
	}
.top_right{
	width:400px;
	height::auto;
	float:right;
	color:#FFF;
	}
.top_right li{
	list-style:none;
	margin:0 10px;
	float:right;
	line-height:50px;
	}
.banner_box{
	
	}
.banner_box ul li img{
	width:100%;
	height:auto;
	}
