@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}
a{
	text-decoration:none;
}
a:link{
	color:#FFF;
	}
a:active{
	color:#FFF;
}
a:visited{
	color:#FFF;
}
.top{
	width:auto;
	height:50px;
	background:#333;
	}
.top_center{
	margin:0 auto;
	width:1200px;
	height:auto;
	}
.top_logo{
	lint-height:50px;
	height:37px;
	width:150px;
	padding-top:5px;
	float:left;
	}
.top_logo img{
	height:37px;
	width:auto;
	}
.top_left{
	float:left;
	width:400px;
	height:auto;
	color:#FFF;
	}
.top_left li{
	list-style:none;
	text-align:center;
	float:left;
	line-height:50px;
	width:100px;
	}
.top_right{
	width:400px;
	height::auto;
	float:right;
	color:#FFF;
	}
.top_right li{
	list-style:none;
	float:right;
	line-height:50px;
	width:80px;
	text-align:center;
	}
.banner_box ul li img{
	width:100%;
	height:auto;
	}
.top_left ul li:hover{
	background-color:#0072E3;
}
.top_right ul li:hover{
	background-color:#0072E3;
}
